<div class="jumbotron jumbtron-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item-active">
        <a  class="btn btn-outline-info mr-1" routerLink="/customerorder"><i class="fa fa-home"></i> Orders </a>
      </li>
      <li class="nav-item">
          <a  class="btn btn-outline-primary" routerLink="/items"><i class="fa fa-phone"></i> Items</a>
      </li>
      <li class="nav-item">
          <a  class="btn btn-outline-danger ml-1" routerLink="/customers"><i class="fa fa-tasks"></i> Customers</a>
      </li>
    </ul>
  </div>
</div>
</nav>


  <h1 class="display-1 text-center" style="font-size: 3em; font-weight: 100;"><img src="/assets/img/food.png"> Restaurant App</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>